.dropdownWrapper {
  &.withBorder {
    border: 1px solid rgba(0, 0, 0, 0.05);
    .dropdownHeader {
      padding: 0.2rem 0.5rem;
    }
  }
  .dropdownHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dropdownHeaderIcon {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
