.update-container {
  border-bottom: 1px solid var(--gray-200);
  color: var(--gray-700);

  &:last-of-type {
    border-bottom: none;
  }

  &.recent {
    background-color: var(--gray-200);
  }

  .update-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;

    .general-info {
      width: 45%;

      .update-title {
        align-items: center;
        display: flex;
        font-family: 'Bookmania';
        font-size: 1.75rem;
        font-weight: $bold-weight;
        margin-bottom: 1.25rem;

        .icon {
          color: var(--gray-300);
          margin-right: 0.75rem;
          width: 1.5rem;
        }
      }

      .update-description {
        font-size: 1.25rem;
        font-weight: $medium-weight;
        margin-bottom: 1.25rem;
      }

      .update-date {
        font-size: 0.825rem;
      }
    }

    .change-list {
      width: 50%;

      .list-section {
        margin-bottom: 1.75rem;

        .section-title {
          font-family: 'Bookmania';
          font-size: 1.25rem;
          font-weight: $bold-weight;
          margin-bottom: 1rem;
        }

        .section-element {
          align-items: center;
          display: flex;
          margin-bottom: 1.25rem;

          .icon {
            margin-left: 0.25rem;
            margin-right: 1rem;
            width: 0.825rem;
          }
        }
      }
    }

    @include mq($until: tablet) {
      flex-direction: column;

      .general-info {
        margin-bottom: 1.75rem;
        width: 100%;
      }

      .change-list {
        width: 100%;
      }
    }
  }
}
