@include mq($from: tablet) {
  .container {
    width: var(--custom-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
  }
  .container > div {
    width: 33%;
    height: fit-content;
    margin-bottom: 50px;
  }

  .homepage {
    width: var(--custom-width);
    height: 100px;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .homepage > span {
    height: 22px;
    width: 83px;
    color: #495057;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    letter-spacing: 0.44px;
    line-height: 22px;
    margin-top: 20px;
  }

  .divisor {
    width: var(--custom-width);
    margin: auto;
    margin-bottom: 80px;
  }
  .container {
    width: var(--custom-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
  }
  .container > div {
    width: 33%;
    height: fit-content;
    margin-bottom: 50px;
  }
}
@include mq($until: tablet) {
  .container {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .container > div {
    margin-bottom: 50px;
  }

  .homepage {
    display: none;
  }

  .homepage > span {
    display: none;
  }

  .divisor {
    display: none;
  }
  .container {
    display: none;
  }
  .container > div {
    display: none;
  }
}
