.tryButton {
  height: 48px;
  width: 177px;
  border-radius: 24px;
  background-color: $gray-600;
  color: $gray-100;
  font-family: $openSans;
  font-size: 16px;
  font-weight: $bold-weight;
  line-height: 24px;
}
