.load-more-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  .load-more {
    align-items: center;
    color: var(--gray-700);
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    font-weight: $medium-weight;
    text-decoration: none;

    .icon {
      margin-left: 1rem;
      width: 0.5rem;
    }
  }
}
