.bannerWrapper {
  background-color: var(--gray-300);
  margin: 80px auto 0;
  width: 92%;
  padding: 57px 0;
}
.title {
  color: var(--gray-700);
  font-family: Bookmania;
  font-size: 28px;
  font-weight: var(--bold-weight);
  letter-spacing: 0.44px;
  line-height: 39px;
  margin-bottom: 19px;
  text-align: center;
}
.customButton {
  button {
    margin: 0 auto;
  }
}

@include mq($from: tablet) {
  .bannerWrapper {
    width: 100%;
    margin: 80px 0 0 0;
  }
  .title {
    text-align: left;
  }
  .customButton {
    button {
      margin: 0 ;
    }

  }
}
