.bannerWrapper {
  background-color: var(--gray-300);
  margin-top: 80px;
  padding: 57px 0;
}
.title {
  color: var(--gray-700);
  font-family: Bookmania;
  font-size: 28px;
  font-weight: var(--bold-weight);
  letter-spacing: 0.44px;
  line-height: 39px;
  margin-bottom: 19px;
}
