.container {
  font-family: 'Basis Grotesque Pro', sans-serif;
  margin: 60px 0;
  .title {
    border-bottom: 1px solid var(--gray-300);
    p {
      color: var(--gray-700);
      font-size: 16px;
      letter-spacing: 0.44px;
      line-height: 22px;
      padding-bottom: 16px;
    }
  }
  .lists {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    .first_column {
      margin-right: 201.6px;
    }

    .second_column {
      margin-right: 174.4px;
    }
  }

  @include mq($until: tablet) {
    margin-top: 0;
    .title {
      display: none;
    }
    .lists {
      display: none;
    }
  }
  @include mq($from: tablet, $until: desktop) {
    .first_column,
    .second_column {
      margin-right: 112px !important;
    }
  }
}
