@mixin paddingWrapper {
  @include mq($until: mobile) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include mq($from: mobile, $until: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include mq($from: tablet, $until: desktop) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include mq($from: desktop) {
  }
}
.content-wrapper {
  margin: 0 auto;

  @include mq($until: mobile) {
    max-width: 296px;
  }

  @include mq($from: mobile, $until: tablet) {
    max-width: 720px;
  }

  @include mq($from: tablet, $until: desktop) {
    max-width: 960px;
  }

  @include mq($from: desktop) {
    max-width: 960px;
  }

  @include paddingWrapper;
}

.content-padding-wrapper {
  @include paddingWrapper;
}

.icon {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
}
