// colors
$primary: #294d9c;

$gray-100: #fcfcfc;
$gray-200: #f4f4f6;
$gray-300: #eeeeee;
$gray-500: #a5a7a6;
$gray-400: #d8d9d9;
$gray-600: #717372;
$gray-700: #3f4040;
$gray-800: #262726;

// z-index
$zBackground: -1;
$zBase: 0;
$zForeground: 1;
$zDropdown: 10;
$zToast: 20;
$zModalOverlay: 30;
$zModal: 40;

// Font Weights
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$bold-weight: 800;
$black-weight: 900;

// Fonts
$openSans: 'OpenSans';
$openSans-path: '~@/styles/fonts/OpenSans/OpenSans-';
$neoSans: 'NeoSans';
$neoSans-path: '~@/styles/fonts/NeoSans/Monotype-NeoSansStd-';
