.sitemapSection {
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-300);
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 800px;
  margin-top: 30px;
}

.element {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  letter-spacing: 0.44px;

  .elementTitle {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
  }

  a {
    padding-bottom: 16px;
    text-decoration: none;
    color: inherit;
  }
}

main {
  color: var(--gray-600);
  border-bottom: 1px solid var(--gray-300);
}

@include mq($until: tablet) {
  .wrapper {
    width: 100%;
    margin-top: 0;
  }

  .title {
    margin-bottom: 30px;
  }

  .mainContent {
    max-height: 1200px;
  }

  main {
    padding-bottom: 50px;
  }
}

@include mq($until: mobile-big) {
  .mainContent {
    max-height: 2100px;
  }
}
