.tierBoxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.compareFeatures {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: $gray-100;
  box-shadow: 0 10px 10px -10px rgba(206, 212, 218, 0.61);
  color: $gray-700;
  font-family: $openSans;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.44px;
  line-height: 32px;
  text-align: center;
  > img {
    height: 15px;
    width: 15px;
  }
}

@include mq($from: tablet) {
  .tierBox {
    display: flex;
    justify-content: center;
  }
}
