.background {
  background-color: $gray-300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: 350px;
  @include mq($from: tablet) {
    height: 600px;
  }
}

.mainTitle {
  color: $gray-700;
  font-family: $openSans;
  font-size: 40px;
  font-weight: $medium-weight;
  letter-spacing: 0.44px;
  line-height: 56px;
  text-align: center;
}

.mainSpan {
  color: $gray-700;
  font-family: $openSans;
  font-size: 20px;
  font-weight: $medium-weight;
  letter-spacing: 0.44px;
  line-height: 32px;
  text-align: center;
  display: flex;
}
