.commonQuestionsWrapper {
  .title {
    color: var(--gray-700);
    font-family: Bookmania;
    font-size: 28px;
    font-weight: var(--bold-weight);
    letter-spacing: 0.44px;
    line-height: 39px;
    margin-bottom: 20px;
    padding-left: 18px;
  }

  .list {
    .listTitle {
      color: var(--gray-700);
      font-family: "Basis Grotesque Pro", sans-serif;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.44px;
      line-height: 32px;
      margin-bottom: 20px;
      padding-left: 18px;
    }
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
}
