.subtitle {
  color: $gray-700;
  font-family: $openSans;
  font-size: 20px;
  font-weight: $medium-weight;
  letter-spacing: 0.44px;
  line-height: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
}
