.wrapper {
  background-color: #dee2e6;
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq($from: tablet) {
    height: 300px;
  }

  @include mq($from: desktop) {
    height: 245px;
  }

  .title {
    color: #495057;
    font-family: Bookmania;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.44px;
    line-height: 39px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq($from: tablet) {
      flex-direction: row;
      justify-content: center;
    }

    .buttonsLeftIpad {
      margin-bottom: 20px;

      @include mq($from: tablet) {
        display: flex;
        flex-direction: column;
        margin-right: 60px;
        margin-bottom: 0px;
      }

      @include mq($from: desktop) {
        display: flex;
        flex-direction: row;
        margin-right: 40px;
        margin-bottom: 0px;
      }
    }

    .buttonsRightIpad {
      @include mq($from: tablet, $until: desktop) {
        display: flex;
        flex-direction: column;
      }

      @include mq($from: desktop) {
        display: flex;
        flex-direction: row;
        margin-right: 0px;
      }
    }

    .button {
      height: 56px;
      width: 181px;
      border-radius: 4px;
      background-color: #868e96;
      border: none;
      &:not(:last-child) {
        margin-bottom: 20px;

        @include mq($from: tablet, $until: desktop) {
          margin-bottom: 20px;
        }

        @include mq($from: desktop) {
          margin-right: 40px;
          margin-bottom: 0px;
        }
      }
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        height: 18px;
        width: 18px;
        color: #ffffff;
        margin-right: 18px;
      }

      .buttonText {
        color: #ffffff;
        font-family: 'Basis Grotesque Pro';
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
      }
    }
  }
}
