.title {
  color: var(--primary);
}

.background {
  width: 100%;
  height: 500px;
  background-color: var(--gray-300);
}
@include mq($from: tablet) {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    width: var(--custom-width);
    align-items: center;
  }

  .loginItem {
    margin-left: 15%;
    font-weight: bold;
  }
  .imgMenu {
    display: none;
  }
}

@include mq($until: tablet) {
  .navBar {
    display: none;
    flex-direction: column;
    height: 40px;
    width: var(--custom-width-mobile);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .imgMenu {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: auto;
  }
  .divMenu {
    display: flex;
    height: 40px;
  }
}
