.list {
  display: flex;
  flex-flow: row wrap;
  align-items: initial;
  list-style: none;
  padding: 1.375rem 0;
  justify-content: space-around;

  a {
    text-decoration: none;
    font-family: 'Basis Grotesque Pro', sans-serif;

    span {
      cursor: pointer;
      color: var(--black);
      font-size: 0.94rem;
      text-transform: capitalize;

      &:not(:last-child) {
        margin-right: 5.7rem;
      }
    }

    &.loginWrapper {
      background-color: var(--gray-150);
      border-radius: 1.25rem;

      span {
        padding: 0.5rem 1rem;
      }
    }
  }

  .hamburger {
    color: var(--black);
    cursor: pointer;
    display: none;
  }

  @include mq($until: tablet) {
    justify-content: space-between;
    .hamburger {
      display: flex;
    }
    .item,
    .login-wrapper {
      display: none;
    }
  }
}
