.wrapper {
  margin-bottom: 60px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
}

.logo {
  width: 30px;
}

@include mq($until: tablet) {
  .wrapper {
    padding: 0 24px;

    .title {
      font-size: 32px;
    }
    .subtitle {
      font-size: 16px;
    }
  }
}
