@include mq($from: tablet) {
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--custom-width);
    margin: auto;
  }

  .footerContainer > div > h1 {
    height: 17px;
    color: #555555;
    font-family: 'Basis Grotesque Pro';
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 17px;
    text-transform: uppercase;
  }

  .footerContainer > div > div > span {
    height: 24px;
    color: #495057;
    font-family: 'Basis Grotesque Pro';
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 24px;
  }
}
@include mq($until: tablet) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--custom-width-mobile);
    margin: auto;
  }

  .footerContainer > div {
    margin-bottom: 50px;
  }

  .footerContainer > div > h1 {
    height: 17px;
    color: #555555;
    font-family: 'Basis Grotesque Pro';
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 17px;
    text-transform: uppercase;
  }

  .footerContainer > div > div > span {
    height: 24px;
    color: #495057;
    font-family: 'Basis Grotesque Pro';
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 24px;
  }
}
