.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }
  .responsiveLists {
    display: none;
  }

  @include mq($until: tablet) {
    margin-top: 0;
    .container {
      display: none;
    }
    .responsiveLists {
      display: flex;
      flex-flow: column;
      margin-top: 30px;
    }
  }
}
