.choiceWrapper {
  border: 1px solid var(--gray-300);
  box-shadow: 0 10px 10px -10px rgba(206, 212, 218, 0.61);
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;

  .planLists {
    display: flex;
    flex-flow: row wrap;

    .plan {
      max-width: 319px;

      &:not(:last-child) {
        border-right: 1px solid var(--gray-300);
      }
    }
  }

  .comparerFeatures {
    background-color: var(--gray-150);
    width: 100%;

    .comparerFeaturesDropdown {
      color: var(--gray-700);
      font-family: 'Basis Grotesque Pro', sans-serif;
      font-size: 20px;
      font-weight: var(--medium-weight);
      letter-spacing: 0.44px;
      line-height: 32px;
      margin: 0 auto;
      max-width: 235px;
      padding: 14px 0;
    }
  }
}
