footer {
  color: var(--gray-600);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.navElement {
  display: flex;
  flex-direction: column;

  a {
    font-size: 14px;
    letter-spacing: 0.44px;
  }

  a:not(:last-child) {
    padding-bottom: 12px;
  }
}

.navTitle {
  letter-spacing: 0.8px;
  font-size: 13px;
  text-transform: uppercase;
}
.cardBody {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.cardHeader svg {
  display: none;
}

.infoBottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray-300);
  padding: 15px;
  font-size: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.bottomLinks {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--gray-600);
  }
}

.languageDropdown {
  display: flex;
  vertical-align: center;
  border: 1px solid var(--gray-300);
  padding: 7px;
}

.languageDropdown > svg {
  width: 10px;
  margin-left: 40px;
  color: var(--gray-300);
}

@include mq($from: tablet, $until: desktop) {
  .infoBottom {
    .bottomLinks {
      width: 55%;
    }
  }
}

@include mq($until: tablet) {
  .nav {
    display: flex;
    flex-direction: column;
    padding-top: 29px;
    padding-bottom: 0px;

    nav.navElement {
      margin-bottom: 8px;
    }
    svg {
      display: flex;
      width: 12px;
      margin-left: auto;
    }
    .cardHeader {
      display: flex;
      padding: 15px 0 14px 0;
      width: 100%;
    }
    .navElement:not(:first-child) {
      border-top: 1px solid var(--gray-300);
    }

    .cardBody {
      display: none;
      flex-direction: column;
      padding-bottom: 8px;
    }
  }

  .infoBottom {
    text-align: center;
    font-size: 12px;
  }

  .rights {
    width: 100%;
    margin-bottom: 12px;
  }

  .bottomLinks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li {
      margin-bottom: 16px;
    }

    .languageWrapper {
      width: 100%;
    }

    .languageDropdown > svg {
      margin-left: auto;
    }
  }
}
