.title {
  color: $gray-700;
  font-family: $openSans;
  font-size: 28px;
  font-weight: $bold-weight;
  letter-spacing: 0.44px;
  line-height: 39px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.content {
  margin-bottom: 100px;
}
