.header {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.logo {
  width: 58px;
}

.navContainer {
  flex-grow: 1;

  .navBar {
    display: flex;
    justify-content: space-evenly;
  }

  .element {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 0.94em;
  }

  .iconLink {
    display: flex;
  }

  .iconLink > svg {
    width: 12px;
    margin-left: 10px;
  }
}

.loginButton {
  flex-grow: 0;
  width: 70px;
  height: 40px;
  background-color: var(--gray-200);
  border-radius: 20px;
  border: none;
  font-size: 0.875em;
  color: var(--black);
  font-weight: 500;
}
