.header {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.logo {
  width: 58px;
}

.navContainer {
  flex-grow: 1;

  .navBar {
    display: flex;
    justify-content: space-evenly;
  }

  .element {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    font-size: 15px;
  }

  .iconLink {
    display: flex;
  }

  .iconLink > svg {
    width: 12px;
    margin-left: 10px;
  }
}

.loginButton {
  flex-grow: 0;
  width: 70px;
  height: 40px;
  background-color: var(--gray-200);
  border-radius: 20px;
  border: none;
  font-size: 14px;
  color: var(--black);
  font-weight: 500;
  cursor: pointer;
}

.hamburgerMenu {
  width: 40px;
  display: none;
  cursor: pointer;
}

@include mq($until: desktop) {
  header {
    width: 90%;
  }
}

@include mq($until: tablet) {
  header {
    justify-content: space-between;

    .navContainer,
    .loginButton {
      display: none;
    }

    .hamburgerMenu {
      display: flex;
      border: none;
      color: var(--gray-700);
      background-color: white;
    }

    .hamburgerMenu > svg {
      width: 20px;
    }
  }
}
