.h1 {
}
.contentCharModule {
  height: 311px;
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;

  > h1 {
    color: $gray-700;
    font-family: Bookmania;
    font-size: 21px;
    font-weight: $bold-weight;
    letter-spacing: 0.44px;
    line-height: 29px;
    text-align: center;
  }
  > h2 {
    color: $gray-700;
    font-family: 'Basis Grotesque Pro';
    font-size: 20px;
    font-weight: $medium-weight;
    letter-spacing: 0.44px;
    line-height: 32px;
    text-align: center;
  }
  span {
    color: $gray-700;
    font-family: 'Basis Grotesque Pro';
    font-size: 16px;
    letter-spacing: 0.44px;
    line-height: 28px;
    text-align: center;
  }
}
